<a href="https://colab.research.google.com/github/BAHAMLAOUHI/Data-Mining-Project/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('onlinefraud.csv')

In [5]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0.0,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0.0,0.0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1.0,0.0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1.0,0.0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0.0,0.0

In [6]:
df.shape

(179014, 11)

step: represents a unit of time where 1 step equals 1 hour

type: type of online transaction

amount: the amount of the transaction

nameOrig: customer starting the transaction

oldbalanceOrg: balance before the transaction

newbalanceOrig: balance after the transaction

nameDest: recipient of the transaction

oldbalanceDest: initial balance of recipient before the transaction

newbalanceDest: the new balance of recipient after the transaction

isFraud: fraud transaction

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179014 entries, 0 to 179013
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            179014 non-null  int64
 1   type            179014 non-null  object
 2   amount          179014 non-null  float64
 3   nameOrig        179013 non-null  object
 4   oldbalanceOrg   179013 non-null  float64
 5   newbalanceOrig  179013 non-null  float64
 6   nameDest        179013 non-null  object
 7   oldbalanceDest  179013 non-null  float64
 8   newbalanceDest  179013 non-null  float64
 9   isFraud         179013 non-null  float64
 10  isFlaggedFraud  179013 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 15.0+ MB

In [10]:
df.isFraud.value_counts()

isFraud
0.0    178874
1.0       139
Name: count, dtype: int64

In [11]:
df.isna().sum()

step              0
type              0
amount            0
nameOrig          1
oldbalanceOrg     1
newbalanceOrig    1
nameDest          1
oldbalanceDest    1
newbalanceDest    1
isFraud           1
isFlaggedFraud    1
dtype: int64

In [12]:
rows_with_null = df[df.isnull().any(axis=1)]

print(rows_with_null)

        step     type  amount nameOrig  oldbalanceOrg  newbalanceOrig  \
179013    12  CASH_IN    16.0      NaN            NaN             NaN

       nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
179013      NaN             NaN             NaN      NaN             NaN

In [13]:
len(rows_with_null)

1

In [14]:
df.drop(rows_with_null.index, inplace=True)

In [15]:
df.isna().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [20]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,179013.000000,1.790130e+05,1.790130e+05,1.790130e+05,1.790130e+05,1.790130e+05,179013.000000,179013.0
mean,9.739209,1.801330e+05,8.915856e+05,9.089488e+05,9.272605e+05,1.188120e+06,0.000776,0.0
std,1.999447,3.335835e+05,2.814423e+06,2.851534e+06,2.374230e+06,2.676059e+06,0.027855,0.0
min,1.000000,3.200000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
25%,9.000000,1.167013e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
50%,10.000000,6.566979e+04,1.976200e+04,0.000000e+00,4.233860e+04,1.163345e+05,0.000000,0.0
75%,11.000000,2.268396e+05,1.935541e+05,2.276798e+05,7.298561e+05,1.166438e+06,0.000000,0.0
max,12.000000,1.000000e+07,3.893942e+07,3.894623e+07,3.903958e+07,3.904248e+07,1.000000,0.0

In [21]:
df.duplicated().sum()

0

In [22]:
df.describe(include='object')

           type    nameOrig    nameDest
count    179013      179013      179013
unique        5      179010       86417
top     PAYMENT  C260230637  C985934102
freq      66741           2          81

In [23]:
df["type"].value_counts()

type
PAYMENT     66741
CASH_OUT    58910
CASH_IN     36871
TRANSFER    14917
DEBIT        1574
Name: count, dtype: int64

In [24]:
df['type'] = df['type'].map({'PAYMENT':0, 'CASH_OUT':1, 'CASH_IN':2, 'TRANSFER':3, 'DEBIT':4})

In [25]:
df["type"].value_counts()

type
0    66741
1    58910
2    36871
3    14917
4     1574
Name: count, dtype: int64

In [26]:
df["nameDest"].value_counts()

nameDest
C985934102     81
C1286084959    80
C248609774     75
C2083562754    74
C1590550415    74
               ..
M979004071      1
M44219914       1
M1404316400     1
M990879267      1
C469830007      1
Name: count, Length: 86417, dtype: int64

In [27]:
df.drop(['nameDest', 'nameOrig'],axis=1,inplace=True)

In [28]:
df.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,0,9839.64,170136.0,160296.36,0.0,0.0,0.0,0.0
1,1,0,1864.28,21249.0,19384.72,0.0,0.0,0.0,0.0
2,1,3,181.00,181.0,0.00,0.0,0.0,1.0,0.0
3,1,1,181.00,181.0,0.00,21182.0,0.0,1.0,0.0
4,1,0,11668.14,41554.0,29885.86,0.0,0.0,0.0,0.0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179013 entries, 0 to 179012
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            179013 non-null  int64
 1   type            179013 non-null  int64
 2   amount          179013 non-null  float64
 3   oldbalanceOrg   179013 non-null  float64
 4   newbalanceOrig  179013 non-null  float64
 5   oldbalanceDest  179013 non-null  float64
 6   newbalanceDest  179013 non-null  float64
 7   isFraud         179013 non-null  float64
 8   isFlaggedFraud  179013 non-null  float64
dtypes: float64(7), int64(2)
memory usage: 12.3 MB

In [32]:
df.describe()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,179013.000000,179013.000000,1.790130e+05,1.790130e+05,1.790130e+05,1.790130e+05,1.790130e+05,179013.000000,179013.0
mean,9.739209,1.026177,1.801330e+05,8.915856e+05,9.089488e+05,9.272605e+05,1.188120e+06,0.000776,0.0
std,1.999447,0.995272,3.335835e+05,2.814423e+06,2.851534e+06,2.374230e+06,2.676059e+06,0.027855,0.0
min,1.000000,0.000000,3.200000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
25%,9.000000,0.000000,1.167013e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
50%,10.000000,1.000000,6.566979e+04,1.976200e+04,0.000000e+00,4.233860e+04,1.163345e+05,0.000000,0.0
75%,11.000000,2.000000,2.268396e+05,1.935541e+05,2.276798e+05,7.298561e+05,1.166438e+06,0.000000,0.0
max,12.000000,4.000000,1.000000e+07,3.893942e+07,3.894623e+07,3.903958e+07,3.904248e+07,1.000000,0.0

In [33]:
df.isFlaggedFraud.value_counts()

isFlaggedFraud
0.0    179013
Name: count, dtype: int64

In [34]:
df.drop('isFlaggedFraud',axis=1,inplace=True)

In [35]:
df_final=df.drop('isFraud',axis=1)

In [36]:
df_final.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,1,0,9839.64,170136.0,160296.36,0.0,0.0
1,1,0,1864.28,21249.0,19384.72,0.0,0.0
2,1,3,181.00,181.0,0.00,0.0,0.0
3,1,1,181.00,181.0,0.00,21182.0,0.0
4,1,0,11668.14,41554.0,29885.86,0.0,0.0

In [36]:
df_final.to_csv('onlinefraud_final.csv',index=False)